PORT=3001
MONGODB_URI=mongodb://localhost:27017/cafecito-pos
FRONTEND_URL=http://localhost:4200

# node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
JWT_SECRET=your_jwt_secret_key
REFRESH_TOKEN=your_refresh_token_key